<h1>Benutzerübersicht</h1>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Benutzername</th>
    <th>Status</th>
    <th>Rollen</th>
    <th>Registriert</th>
    <th>Optionen</th>
  </tr>
  <% for user in @users -%>
    <tr>
      <td><%= h(user.login) %></td>
      <td><%= state_name_of(user) %></td>
      <td><%= role_names_of(user) %></td>
      <td><%= user.created_at.strftime('%H:%M am %d.%m.%Y') %></td>
      <td>
        <% if !user.deleted? && user != current_user -%>
          <%= link_to 'Bearbeiten', edit_user_path(user) %>
          <%= button_to user.suspended? ? 'Entsperren' : 'Sperren', toggle_suspension_admin_user_path(user), :method => :put %>
          <%= button_to 'Löschen', admin_user_path(user), :method => :delete, :confirm => 'Wirklich löschen?' %>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>
